.nav {
  padding: 0.5rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.item:not(:first-child)::before {
  content: '/';
  padding: 0 0.5rem;
  color: #adb5bd;
}

.link {
  text-decoration: none;
  color: #adb5bd;
  transition: color 0.2s ease;
}

@media (prefers-color-scheme: light) {
  .link {
    color: rgb(54, 54, 54);
  }
}

.link:hover {
  color: #636669;
}

.home {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  margin-top: 2px;
}

.current {
  font-weight: 500;
  color: #ededed;
}

@media (prefers-color-scheme: light) {
  .current {
    color: black;
  }
}
