.map-section {
  padding: 40px 20px;
  text-align: center;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.map-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-image {
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.map-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: var(--hero-text-color);
  margin-bottom: 2px;
}

.fadeVisible {
  opacity: 1;
  transform: translateY(0); 
}

.fadeHidden {
  opacity: 0;
  transform: translateY(50px); 
}

.fadeTransition {
  transition: opacity 1.5s, transform 1.5s; 
}

/* Button Section */
.btn-primary {
  display: inline-block;
  background: var(--button-bg);
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition:
    background 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

/* Dark Mode Hover (default) */
.btn-primary:hover {
  background: var(--button-hover-bg);
  transform: scale(1.05);
  color: white;
}

/* Light Mode Hover */
@media (prefers-color-scheme: light) {
  .btn-primary:hover {
    background: var(--button-hover-bg);
    transform: scale(1.05);
    color: #000000; /* Keeps the original #3182ce from light mode variables */
  }
}
