.root .attribution {
  color: black;
  font-weight: bold;
}

.root blockquote {
  background-color: inherit;
  border: 0;
  color: #6c8995;
  font-size: 16px;
  margin-bottom: 0;
}

.root .from {
  position: relative;
  background: #f1f5f5;
  border-radius: 15px;
  margin-left: 4px;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.root .from .name {
  font-weight: bold;
  color: #000;
}

.root .from .title {
  font-size: 0.75rem;
  color: #6b7280;
  display: block;
  font-weight: 400;
}
